.mat-card {
  background: #29292f;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: 250px;
  height: 300px;
  position: relative;
}

.img-wrap {
  /*width: 50%;*/
}

.img {
  width: 100%;
  margin: auto;
  border-radius: 5%;
}

.description {
  margin-left: 5%;
}
.grade{
  display: flex;
  margin-top: 3px;
  font-size: 15px;
  color: darkred
}
.star-color{
  color: #747474
}
.star-wrap{
  font-size: 10px;
  margin-bottom: 5px;
}
.f-size-10{
  font-size: 10px;
}
.m-top{
  margin-top: -12px;
}
.prise {
  display: flex;
  position: absolute;
  bottom: 10px;

}
.button{
  border: none;
}

