.wrap1 {
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
}
.img-wrap{
  width: 300px;
}
