.wrap {
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

.grade{
  display: flex;
  margin-top: 3px;
  font-size: 15px;
  color: darkred
}
.star-wrap{
  font-size: 15px;
  margin-bottom: 5px;
}
.photo-wrap{
  border-radius: 2%;
}
.description_wrap{
  display: flex;
  margin-top: 20px;
}
.description{
  width: 60%;
}
.text_desc{
  font-size: 10px;
}
