<div class="wrap">
  <h1 class="fw-bold">{{apartment.title}}</h1>
  <div class=d-flex *ngIf="apartment.star_rating">
    <mat-icon class="grade">grade</mat-icon>
    <div class="star-wrap">
      {{apartment.star_rating}}<span class="star-color"> ({{apartment.number_of_star}} відгуки)</span>
    </div>
  </div>
  <div class="photo-wrap">
    <mdb-carousel [animation]="'slide'">
      <mdb-carousel-item *ngFor="let photo of apartment.photo">
        <img class="d-block w-100 photo-wrap" src="{{photo}}" alt="photo">
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
  <div class="description_wrap">
    <div class="description">
<!--      <p (click)="userDet()">user</p>-->
      <h2>Детальна інформація</h2>
      <p>Ціна: {{apartment.price}}грн/за ніч</p>
      <h3>Опис</h3>
      <p>{{apartment.description}}</p>
      <hr>
      <p class="text_desc" >
        Тип помешкання - {{apartment.type}};
        Кількість кімнат - {{apartment.number_of_rooms}};
        Кількість ліжок - {{apartment.number_of_beds}};
        Кількість місць - {{apartment.amount_of_places}};
      </p>


    </div>
    <div>
      <h2>Процес бронювання</h2>
    </div>
  </div>


</div>
